<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
  </startup>
  <appSettings>
    <add key="YarpPortMetaSceneOPC_OUT" value="/SceneAnalyzer/MetaSceneOPC:o"/>
    <add key="YarpPortMetaSceneXML_OUT" value="/SceneAnalyzer/MetaSceneXML:o"/>
    <add key="YarpPortMetaSceneJSON_OUT" value="/SceneAnalyzer/MetaSceneJSON:o"/>

    <add key="YarpPortSound_OUT" value="//Sound:o"/>
    <add key="YarpPortLookAt_OUT" value="/AttentionModule/LookAt:o"/>
    <add key="YarpPortShore_OUT" value="/ShoreModule/Shore:o"/>
    <add key="YarpPortShore_INPUT" value="/SceneAnalyzer/Shore:i"/>
    <add key="YarpPortSaliency_OUT" value="/SaliencyModule/Saliency:o"/>
    <add key="YarpPortSaliency_INPUT" value="/SceneAnalyzer/Saliency:i"/>
    <add key="YarpPortSubject_INPUT" value="/SceneAnalyzer/SubjectRecognized:i"/>
    <add key="YarpPortSubject_OUTPUT" value="/RecognizedModule/SubjectRecognized:o"/>
    <add key="YarpPortLookAt_INPUT" value="/SceneAnalyzer/LookAt:i"/>
    <add key="YarpPortSensor_OUT" value="/SceneAnalyzer/Sensor:o"/>
    <add key="YarpPortSensor_IN" value="/SceneAnalyzer/Sensor:i"/>
    <add key="UDPPortMetaScene" value="5000"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
